ClientService/Connected Services/ServiceContext/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Autorization">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autorization" nillable="true" type="tns:Autorization" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
  <xs:complexType name="OrderFood">
    <xs:sequence>
      <xs:element minOccurs="0" name="manufacturer" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderFood" nillable="true" type="tns:OrderFood" />
</xs:schema>